/* Navbar styles */
.navbar {
  background-color: #007bff;
}

.navbar-brand {
  color: #ffffff;
}

.navbar-brand img {
  height: 40px;
}

.nav-link {
  color: #ffffff;
  font-weight: bold;
}

.nav-link:hover, .nav-link:focus {
  color: #f8f9fa;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.dropdown-menu {
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: #0056b3;
  color: #ffffff;
}

.search-bar input {
  width: 20px;
}

.search-bar .btn-outline-primary {
  border-color: #ffffff;
  color: #ffffff;
}

.search-bar .btn-outline-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.hotel-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow:  4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  width: 70%;
  max-width: 150px;
  height: 350px;
  margin: auto;
}

.hotel-card:hover {
  transform: scale(1.05);
}

.hotel-image {
  height: 150px;
  object-fit: cover;
  width: 50%;
}

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 30px;
}

.footer .social-icons a {
  color: #ffffff;
  font-size: 20px;
  margin: 10px;
}

.footer .social-icons a:hover {
  color: #007bff;
}

.footer .links a {
  color: #ffffff;
  text-decoration: none;
  margin: 5px;
}

.footer .links a:hover {
  text-decoration: underline;
}
